/**
 * @name Catppuccin for midnight - Macchiato Red
 * @description Soothing pastel theme for midnight
 * @author Catppuccin
 * @version 0.1.0
 * @website https://github.com/uncenter/ctp-midnight
 * @source https://github.com/uncenter/ctp-midnight/blob/main/themes/macchiato-red.css
*/

@import url('https://refact0r.github.io/midnight-discord/build/midnight.css');

:root {
	--font: 'gg sans';
	--corner-text: 'Catppuccin';

	--online-indicator: #a6da95;
	--dnd-indicator: #ed8796;
	--idle-indicator: #eed49f;
	--streaming-indicator: #c6a0f6;

	--accent-1: #ed8796; /* links */
	--accent-2: #ed8796; /* general unread/mention elements */
	--accent-3: #ed8796; /* accent buttons */
	--accent-4: #c57484; /* accent buttons when hovered */
	--accent-5: #b16b7a; /* accent buttons when clicked */
	--mention: #c574841a; /* mentions & mention messages */
	--mention-hover: #c574840d; /* mentions & mention messages when hovered */

	--text-0: var(--bg-4); /* text on colored elements */
	--text-1: #cad3f5; /* bright text on colored elements */
	--text-2: #cad3f5; /* headings and important text */
	--text-3: #a5adcb; /* normal text */
	--text-4: #8087a2; /* icon buttons and channels */
	--text-5: #5b6078; /* muted channels/chats and timestamps */

	--bg-1: #494d64; /* dark buttons when clicked */
	--bg-2: #363a4f; /* dark buttons */
	--bg-3: #1e2030; /* spacing, secondary elements */
	--bg-4: #24273a; /* main background color */
	--hover: #6e738d1a; /* channels and buttons when hovered */
	--active: #6e738d33; /* channels and buttons when clicked or selected */
	--message-hover: #1819261a; /* messages when hovered */

	/* Unset unthemeable elements*/
	--login-bg-filter: none; /* login background artwork */
	--green-to-accent-3-filter: none; /* add friend page explore icon */
	--blurple-to-accent-3-filter: none; /* add friend page school icon */
}
