/**
 * @name Catppuccin for midnight - Mocha Lavender
 * @description Soothing pastel theme for midnight
 * @author Catppuccin
 * @version 0.1.0
 * @website https://github.com/uncenter/ctp-midnight
 * @source https://github.com/uncenter/ctp-midnight/blob/main/themes/mocha-lavender.css
*/

@import url('https://refact0r.github.io/midnight-discord/build/midnight.css');

:root {
	--font: 'gg sans';
	--corner-text: 'Catppuccin';

	--online-indicator: #a6e3a1;
	--dnd-indicator: #f38ba8;
	--idle-indicator: #f9e2af;
	--streaming-indicator: #cba6f7;

	--accent-1: #b4befe; /* links */
	--accent-2: #b4befe; /* general unread/mention elements */
	--accent-3: #b4befe; /* accent buttons */
	--accent-4: #969ed4; /* accent buttons when hovered */
	--accent-5: #878ec0; /* accent buttons when clicked */
	--mention: #969ed41a; /* mentions & mention messages */
	--mention-hover: #969ed40d; /* mentions & mention messages when hovered */

	--text-0: var(--bg-4); /* text on colored elements */
	--text-1: #cdd6f4; /* bright text on colored elements */
	--text-2: #cdd6f4; /* headings and important text */
	--text-3: #a6adc8; /* normal text */
	--text-4: #7f849c; /* icon buttons and channels */
	--text-5: #585b70; /* muted channels/chats and timestamps */

	--bg-1: #45475a; /* dark buttons when clicked */
	--bg-2: #313244; /* dark buttons */
	--bg-3: #181825; /* spacing, secondary elements */
	--bg-4: #1e1e2e; /* main background color */
	--hover: #6c70861a; /* channels and buttons when hovered */
	--active: #6c708633; /* channels and buttons when clicked or selected */
	--message-hover: #11111b1a; /* messages when hovered */

	/* Unset unthemeable elements*/
	--login-bg-filter: none; /* login background artwork */
	--green-to-accent-3-filter: none; /* add friend page explore icon */
	--blurple-to-accent-3-filter: none; /* add friend page school icon */
}
